@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


*{
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("image/imagefondo.jpg") ;
    background-size: cover;
    min-height: 100vh;
}

#nav-center{
    background-color: rgb(5, 5, 53) ;
    background-size: cover;
    color: aquamarine !important;
    font-size: 18px;
    text-decoration: none;
}
#nav-center1{
    background-size: cover;
    color: aquamarine !important;
    font-size: 18px;
    text-decoration: none;
}
.display{
    display: flex;
    justify-content: right;
}
.display a:hover{
    color: aquamarine !important;
    opacity: 0.8; 
}
.hamburgercolor{
    color: aquamarine !important;
} 
.carousel{
    text-align: center;
}
.rhyno{
    text-align: center;
    color: rgb(54, 197, 149);
    background-color: rgb(5, 5, 53);
}
#moon1{
    display: flex;
    justify-content:right;
    color: rgb(5, 5, 53);
    font-size: 30px;
    margin-right: 15px;
    margin-top: 20px;
    cursor: pointer;
}
.moonicon:hover{
    color: rgb(7, 148, 148);
}
.lunar{
    background-color: rgb(4, 15, 36);
}
#Mobile_validation{
    cursor: pointer;
    font-weight: 500;
}
.Mobile_validation:hover{
    color: #2CA0CE;
    cursor: pointer;
}
#sun1{
    display: flex;
    justify-content:right;
    color: azure;
    font-size: 30px;
    margin-right: 15px;
    margin-top: 20px;
}
.sun{
    display: flex;
    justify-content:right;
    color: azure;
    font-size: 30px;
    margin-right: 15px;
    margin-top: 20px;
    cursor: pointer;
}
.sunicoon:hover{
    color: rgb(7, 148, 148) !important;
}
.desaparecer{
    display: none !important;
}
.aparecer{
    display: block;
}
.formregistrer{
    margin: 70px 0;
}
.formindex{
    margin: 0 350px;
}    
@media (max-width: 1024px) {
    .formindex{
    /*margin: 0 220px;*/
    width: 40%;
    margin: 50px auto 0;
    }
}

.registerbtn{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.btn-r{
    color:aquamarine !important;
    background-color: rgb(5, 5, 53) !important;
    margin-left:7px;
    
}
.btn-r:hover{
    color: yellow !important;
    box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}
.btn-r2{
    color:aquamarine !important;
    background-color: rgb(5, 5, 53) !important;
    margin-right: 7px;
}
.btn-r2:hover{
    color: yellow !important;
    box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}
.reloj{
    display: flex;
    flex-direction: column;
    /* background: rgb(4, 15, 36); */
    /* background: radial-gradient(ellipse at center, #0a2e38 ,  0%, #000000 70%);  */
    background-size: 100%;
    font-family: 'Share Tech Mono', monospace;
    color: #0f3854;
    /* color: #FFF;  */
    text-align: center;
    /* position: absolute; */
    text-shadow: 0 0 20px rgba(10,175,230, 1), 0 0 20px rgba(10,175,230, 0);
}

.fecha .tiempo {
    margin:0px;
    padding: 0;
}
.tiempo{
    letter-spacing: 0.05em;
    font-size: 36px;
    /* background: rgb(4, 15, 36); */
    text-align: center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px 0; 
}   
.fecha{
    letter-spacing: 0.1em;
    font-size: 16px;
    text-align: center;
    /* background: rgb(4, 15, 36); */
    margin:auto;
}


/*end index.html*/


/*start simulator.html*/
.form-text{
    text-align: center;
}
.form-text{
    color: rgb(128, 134, 139) !important;
    font-weight: 500;
}

.headerdiv{
    color: aliceblue;
    text-align: center;
    background-color: rgb(5, 5, 53);
}
.containerfull{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    margin-bottom: 280px;
}
.container1{
    position: relative;
    width: 60%;
    border: 1px solid gray;
    overflow: hidden;
}@media (max-width: 650px) {
    .container1{
        width: 90%;
    }
}
.container1:hover img{
    transform: scale(1.09);

}
.container1 img{
    width: 100%;
    min-width: 400px;
    transition: .5s;
    cursor: pointer;
    
}

.content1{
    background-color: rgba(0,0,0, .7);
    position: absolute;
    top: -300%;
    left: 0;
    text-align: justify;
    height: 100%;
    color: #fff;
    transition: all .5s;
}
.content1 h3{
    text-align: center;
    font-size: 33px;
    /* border-bottom: 2px solid #808080; */
    padding: 20px 10px;
}
.content1 p{
    border-top: 2px solid #808080;
    padding: 20px 20px 15px 20px;
    border-bottom: 2px solid #808080;
    font-size: 15px;
    margin-top: 100px;
}@media (max-width: 1100px) {
    .content1 p{
        margin-top: 0px;
        margin-bottom: 200px;
    }
}
.icons{
    display: flex;
    justify-content: center;
    background-color: transparent;
    color: #fff;
    font-size: 30px;
    padding: 0 0 10px 130px;
    position: absolute;
    bottom: -100%;
    transition: all .5s;
    margin-left: 75px;
}@media (max-width: 1100px) {
    .icons{
        margin-left: -30px;
    }
    .icons i{
        margin: 0 15px;
    }
}
.icons i{
    margin: 0 25px;
    cursor: pointer;
    align-items: center;
    transition: all .5s;
    
}
.icons i:hover{
    color: #00acee;
}
.container1:hover .icons {
    bottom: 0;
}
.container1:hover .content1 {
    top: 0;
}

.select{
    margin: 0px 280px;
    margin-top: 130px;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    background-color: rgb(5, 5, 53);
    color: aliceblue;
    cursor: pointer;
}
.select:hover{
    color: #055474;
}
.form_{
    margin: 0px auto 0;
    text-align: center;
}
.forminput{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 27px;
    gap: 5px;
    background: rgba(163,163,163, 0.4);
    margin: 0 280px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;    
}@media (max-width: 930px) {
    .select{
        text-align: center;
        align-items: center;
        margin: 0 185px;
    }
    .forminput{
    text-align: center;
    margin:  0 185px;
    font-size: 27px;
    }
}@media (max-width: 740px) {
    .select{
        text-align: center;
        align-items: center;
        margin: 0 105px;
    }
    .forminput{
    text-align: center;
    margin:  0 105px;
    font-size: 27px;
    }
}@media (max-width: 740px) {
    .select{
        text-align: center;
        align-items: center;
        margin: 0 20px;
    }
    .forminput{
    text-align: center;
    margin:  0 20px;
    font-size: 25px;
    }
}
@media (max-width: 400px) {
    .select{
        margin: 0 9px;
    }
    .forminput{
        font-size: 23px;
        margin: 0 9px;
    }
}
.formclass1{
    cursor: pointer;
}
.formclass:hover{
    color: #055474;
}
.formone{
    color: rgb(5, 5, 53);
    margin-left: 30px;
    margin-top: 20px;
}    
.one{
    text-align: center;
    margin: 25px 5px;
    color: aliceblue;
}
.formtwo{
    color: rgb(5, 5, 53);;
    text-align: center;
}
.two{
    text-align: center;
    margin: 25px 5px;
}
.formthree{
    color: rgb(5, 5, 53);
    margin-left: 30px;
}
.three{
    text-align: center;
    margin: 25px 5px;
}
.formfour{
    color: rgb(5, 5, 53);
    
}
.four{
    text-align: center;
    margin: 25px 5px;
}
.formfive{
    color: rgb(5, 5, 53);
    margin-left: 62px;
}
.five{
    text-align: center;
    margin: 25px 5px;
}
.formsix{
    color: rgb(5, 5, 53);  
    margin-left: 62px;
}
.six{
    text-align: center;
    margin: 25px 5px;
}
.formseven{
    color: rgb(5, 5, 53);
    margin-right: 36px;
}
.seven{
    text-align: center;
    margin: 25px 5px;
}
.formeigth{
    color: rgb(5, 5, 53);
    margin-right: 36px;
}
.eigth{
    text-align: center;
    margin: 25px 5px;    
}
.enter{
    margin: 50px auto ;
    /* margin-left: 75px; */
    text-align: center;   
}
.result{
    text-align: center;
    /*background-color: rgb(19, 114, 114);*/
    /* background-color: rgb(5, 5, 53); */
    /* background-color: #055474; */
    background-color: #05394e;
    margin: 0 auto;
    max-width: 273px; 
    color:white;
    margin-top: 20px;
    transition: all .5s;
    cursor: pointer;
    padding: 5px 1px;
}
.result:hover{
    background-color: #055474;
}
    @media (max-width: 930px) {
    .result{    
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #05394e;
    margin: 50px auto;
    /* max-width: 300px; */
    }    
}@media (max-width: 768px) {
    .result{    
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #05394e;
    margin: 50px auto;
    }    
}
.amount{
    /*background-color: rgb(5, 5, 53);*/
    color: rgb(5, 5, 53);
    /* color: #05394e; */
    font-weight: 700;
    font-size: 20px;
    /*margin: 20px 250px;*/
    text-align: center;
    cursor: pointer;
    transition: all .3s;
}@media (max-width: 768px) {
    .amount{    
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 50px 0 auto;
    }
}    
.amount1:hover{
    color: #055474;;
}
.cotizar{
    border-radius: 5px;
    font-size: 29px;
    border: none;
    font-weight: 600;
    color: white;
    background-color: #05394e;
    /* background-color: #055474; */
    /* background-color: rgba(117, 94, 26, 0.459); */
    cursor: pointer;
    transition: all .5s;
    padding: 3px;
}
.cotizar:hover{
    box-shadow: 0px 0px 5px #055474 ;
    background-color: #055474
}
.cotizar1{
    border-radius: 5px;
    border: none;
    font-size: 30px;
    font-weight: 600;
    color: white;
    background-color: #05394e;
    transition: all .5s;
    /* background-color: #055474; */
    /* background-color: rgba(117, 94, 26, 0.459); */
    cursor: pointer;
    padding: 3px;
}
.cotizar1:hover{
    background-color: #055474;
    box-shadow: 0px 0px 5px #055474 ;
}
.formulario__mensaje1 {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	/* display: none; */
    margin-top: 3px;
    margin-bottom: 15px;
    text-align: center;
    max-width: 740px;
    margin: 50px auto 0;
}
.main-contacto {
    align-items: center;
    font-size: 1.9rem;
    color: #17265F;
    margin: 50px;
}
    @media (max-width: 768px) {
    .main-contacto {
    font-size: 2.1rem;
    margin: 50px; } 
}
.main-contacto .contacto-empresa:hover {
    color: #2CA0CE;
    cursor: pointer; 
}
.main-contacto .contacto-enviar {
    background: rgb(5, 5, 53);
    color: aquamarine;
    font-size: 1.9rem;
    margin-top: 25px;
    cursor: pointer;
    border-radius: 25%;
    transition:all .7s;
    /* border: none; */
}
.main-contacto .contacto-enviar:hover {
    color: #FFf;
    border-radius: 35%;
    border: none;
    background-color:#055474; 
}
#contacto_enviar{
    text-align: right;
}
main hr {
    border: none;
    height: 1px;
    background-color: #060945;
    max-width: 1200px;
    margin: auto; }
.map_1{
    margin-bottom: 200px;
}
.contacto-h3 {
    color: #17265F;
    margin-top: 70px;
    text-align: center;
    font-size: 3.2rem; }
    @media (max-width: 768px) {
    .contacto-h3 {
    font-size: 2.5rem; } }

.contacto-mapa {
    display: flex;
    justify-content: center;
    margin: 50px; }
    @media (max-width: 768px) {
    .contacto-mapa {
        width: auto; } 
}
#info{
    text-align: center;
    margin-top: 200px;
    font-size: 22px;
}
#btn{
    background-color: #060945;
    color: azure;    
}
.div_label_msj{
    margin-top: 40px;
}
.label_msj{
    font-size: 33px;
    font-weight: 700;
    margin-left: 13px;
    
}

footer{
	padding: 10px 0px;
	background-image: url("image/imagefooter.jpg");
}

.container-footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
	max-width: 1200px;
	margin-bottom: 20px;
}

.box-footer{
	display: flex;
	flex-direction: column;
	padding: 10px;
	font-size: 11px;
}
.footer-logo {
	margin-top: 100px;
    font-size: 22px;
}

.box-footer .terminos{
	max-width: 350px;
	margin-top: 10px;
	font-weight: 900;
	color: white;
	font-size: 12px;
    
}
.box-footer h2{
	margin-top: 100px;
	margin-bottom: 10px;
	color: silver;
	font-weight: 800;
    margin-right: 10px;
}
.box-footer a{
	margin-top: 10px;
	color: white;
	font-weight: 1500;
    
}
.box-footer a:hover{
	opacity: 0.8;
    color: aquamarine;
}
.box-footer a .fa-brands{
	font-size: 15px;

}
.box-copyright{
	max-width: 1200px;
	margin: auto;
	text-align: center;

}
.box-copyright p{
	margin-top: 10px;
	color: silver;
}
.box-copyright hr{
	border: none;
	height: 1px;
	background-color:white;

}

.godwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0;
}
.wrapper{
    height:240px ;
    max-width: 410px;
    background:  rgba(100, 100, 111, 0.7) ;
    padding: 16px 25px;
    transition:  height 0.2s ease;
    /*background-image: url("image/imagebtc.jpg") ;*/
    /*background: linear-gradient(to left ,darkblue,azure);*/
}
.active1{
    height: 485px;
}
.formG{
    display: block;
    justify-content: center;
}
#inputg{
    width: 100%;
    height: 40px;
}
#generate{
    width: 100%;
    background-color: #060945;
    color:aquamarine;
    font-size: 17px;
    height: 45px;
    margin-top: 15px;
    cursor: pointer;
}
#generate:hover{
    color: #fff;
}
.h1qr{
    font-size: 21px;
    font-weight: 500;
    color: #fff;

}
.pqr{
    margin-top: 5px;
    color: rgba(255, 254, 254, 0.8);
    font-size: 16px;
}
.wrapper .formG{
    margin: 20PX 0  25PX;
}
.formG :where(input, button){
    width: 1000px;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.formG input{
    font-size: 16px;
    pad: 0 17px;
    border: 1px solid #999;
}
.wrapper .qr-code{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 33px 0;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
}    
.active1 .qr-code{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
}


.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
    margin-top: 3px;
    text-align: center;
    max-width: 500px;
    margin: 50px auto 0;
}
.formulario__mensaje1 {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
    margin-top: 3px;
    text-align: center;
    max-width: 900px;
    margin: 50px auto 0;
    font-size: 22px;
}@media (max-width: 880px){
    .formulario__mensaje1 {
        max-width: 900px;
        font-size: 16px;
    }
}@media (max-width: 670px){
    .formulario__mensaje1 {
        font-size: 12px;
    }
}@media (max-width: 540px){
    .formulario__mensaje1 {
        font-size: 9px;
        margin: 50px -65px;
        margin-bottom: 20px;
    }
}
    .formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 18px;
	color: #19af3f;
	display: none;
    text-align: center;
    margin-top: 15px;
    background-color: #060945;
    margin: 55px 295px;
}    
@media (max-width: 899px){
    .formulario__mensaje-exito {
        margin: 55px 195px;
    }
}
@media (max-width: 699px) {
    .formulario__mensaje-exito {
        margin: 55px 70px;
    }
}    
.hand-up{
    margin-left: 7px;
}


.formulario__mensaje-exito1 {
	font-size: 27px;
    background-color: #060945;
    font-weight: 700;
	color: #2fbb81;
	display: none;
    text-align: center;
    margin-top: 15px;
    margin-right: 5px;
}
.formulario__mensaje-exito-activo {
	display: block;
}
#go__To{
    height: 45px;
	line-height: 45px;
	width: 215px;
	background:rgb(9, 131, 179);
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
	margin: 50px 0 auto;
}
#go__To:hover{
	box-shadow:3px 0 60px royalblue;
	color:#fff;
}
.desaparecer{
    display: none !important;
    text-decoration: none !important;
}
.aparecer{
    display: block;
    text-decoration: none !important;
}




/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}

.main-section {
    background-color:rgba(100,100,100, 0.5);
    text-align: center;
    margin: 9% auto 0;
    width: 60%;
    padding: 29px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.main-section h2 {
    text-transform: uppercase;
    color: #fff;
    background: rgb(5,5,55);
}
.container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.cotizadorCripto{
    color: #FFf;
}
.form-side {
    width: 50%;
    margin-top: 2%;
}
.form-side form#form-search {
    display: flex;
    flex-direction: column;
}
.image-side {
    background-image: url(image/imagebtc.jpg);
    height: 400px;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.form-side #form-search select {
    font-size: inherit;
    margin: 8px 0px 7px;
    background-color: aliceblue;
    padding: 8px 5px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 7px;
    border: solid 1px #ada2a2;
    color: #736d6d;
}
input[type="submit"] {
    margin: 9px auto 0px;
    width: 50%;
    color: cadetblue;
    background-color: #00a478;
    border: solid 0px #ada2a2;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 7px 3px;
    color: #FFF;
    height: 37px;
    font-family: 'Montserrat', sans-serif;
}
input[type="submit"]:hover {
    color: #fff;
    background-color: rgb(5,5,55);
    border: solid 2px #fff;
}
.error {
    color: red;
}
.display-info{
    color: #fff;
}
.display-info p span{
    font-weight: 700;
}
.display-info .main-price{
    font-size: 28px;
    margin-bottom: 2px;
    font-weight: 800;
}
.genialbotonsweet{
    text-decoration: none;
    color: #fff;
}

#TitleUser{
    color: #fff;
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
}
#TitleUser H1{
    border-bottom: 3px solid gray;
    margin: 0 300px;
    /* background-color:rgba(189,189,189, .5);    */
    background: rgb(4, 15, 36);
    cursor: pointer;
}#TitleUser h1:hover{
    background-color: #05394e;
    /* color: #055474; */
}

