<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="shortcut icon"  href="../image/exchange.ico">
    
    
    <title>Black Rhyno-Simulador</title>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark " id="nav-center">
        <div class="container-fluid " id="nav-center">
            <a class="navbar-brand"  id="nav-center"  href="../index.html">BLACK RHYNO</a>
            <button class="navbar-toggler hamburgercolor" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>    
            </button>
            <div class="collapse navbar-collapse display" id="navbarNavAltMarkup">
                <div class="navbar-nav ">
                    <a class="nav-link active " aria-current="page" href="./simulator.html">Simulador</a>
                    <a class="nav-link active" aria-current="page" href="./contact.html">Contacto</a>    
                </div>
            </div>
        </div>
    </nav>
    <header>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../image/imagebtc2.jpg" class="d-block w-100 img-fluid" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../image/imageeuro2.jpg" class="d-block w-100 img-fluid" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../image/imagetraje22.jpg" class="d-block w-100 img-fluid" alt="...">
                </div>
            </div>
        </div>
        <div class="headerdiv"><H1>EXCHANGE</H1></div>
        <div class="rhyno"><h1>"BLACK RHYNO"</h1></div>
    </header>
    
    <main>
        <p class="select">Selecciona la moneda a cambiar</p>    
        <form class="form">
            <div class="forminput">
                <div class="formone">
                    <input class="one" type="radio" name="cambio" id="uno">Peso($)/Dólar(U$D)
                </div>
                <div class="formtwo">
                    <input class="two" type="radio" name="cambio" id="dos">Peso($)/Euro(EU)
                </div>
                <div class="formthree">
                    <input class="three"  type="radio" name="cambio" id="tres">Dólar(U$D)/Peso($)
                </div>
                <div class="formfour">
                    <input class="four" type="radio" name="cambio" id="cuatro">Euro(EU)/Peso($)
                </div>
                <div class="formfive">
                    <input class="five" type="radio" name="cambio" id="cinco">Dólar(U$D)/Bitcoin(BTC)
                </div>
                <div class="formsix">
                    <input class="six" type="radio" name="cambio" id="seis">Peso($)/Bitcoin(BTC)
                </div>
                <div class="formseven">
                    <input class="seven" type="radio" name="cambio" id="siete">Bitcoin(BTC)/Dólar(U$D)
                </div>
                <div class="formeigth">
                    <input class="eigth" type="radio" name="cambio" id="ocho">Bitcoin(BTC)/Peso($)
                </div>    
            </div>
            <div class="enter">
                <p class="amount">Ingrese el monto</p>
                <input type="number" id="valor" min="1" max="100000" class="cotizar">
                <input type="button" id="cotizador" value="cotizar" class="cotizar" >
            </div>    
            <div>
                <h1 id="resultado1" class="result">Resultado: $0.00</h1>
            </div>
        </form>
        <div data-aos="fade-up">
            <div id="info">
                <input type="button" id="btn" value="¡Click para mas Información!">
                <p id="paragraph" class="desaparecer"> Las operaciones con instrumentos financieros o criptomonedas implican un elevado riesgo, incluyendo la pérdida parcial o total del capital invertido.";</p>
            </div>
        </div>    
        <!-- <div id="info">
            <input type="button" id="btn" value="¡Click para mas Información!">
        </div> -->
    </main>
    
    <footer>
        <div class="container-footer">
            <div class="box-footer">
            <div class="footer-logo">
                    <a id="nav-center1" href="../index.html">BLACK RHYNO</a>
            </div>
            <div class="terminos">
                    <p>Aviso legal: Las operaciones con instrumentos financieros o criptomonedas implican un elevado riesgo, incluyendo la pérdida parcial o total del capital invertido, y pueden no ser adecuadas para todos los inversores. Los precios de las criptomonedas son extremadamente volátiles y pueden verse afectados por factores externos de tipo financiero, regulatorio o político. Operar sobre márgenes aumenta los riesgos financieros.</p>
            </div>
        </div>

            <div class="box-footer">
            <h2>EXCHANGE</h2>
                <a href="../index.html">About you</a>
                <a href="../views/simulator.html">simulator</a>
                <a href="../views/contact.html">processes</a>
                <a href="../views/simulator.html">Services</a>
            </div>

            <div class="box-footer">	
            <h2>Redes sociales</h2>
                <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i> Facebook</a>
                <a href="https://twitter.com"><i class="fa-brands fa-twitter"></i>Twitter</a>
                <a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin"></i>linkedin</a>
                <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i>Instagram</a>
            </div>
        </div>
        <div class="box-copyright">
            <hr>
            <p>Todos los derechos reservados © 2022 <b>BLACK RHYNO EXCHANGE</b></p>               
        </div>
    </footer>


        <!-- scipt index.js -->
    <script src="../logics.js/simulator.js"></script> 

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- scipt fontawesome -->
    <script src="https://kit.fontawesome.com/25167accfa.js" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        AOS.init({
            duration: 1000
        });
    </script>
</body>
</html>